/*
 * Stylesheet file.
 */

* {
}

.root {
    -fx-background-color: #EFEFEF;
}

.header {
    -fx-font-size: 24px;
}

.banner {
    -fx-background-color: #EE7202; 
    -fx-pref-width: 900px;
    -fx-pref-height: 100px;
    -fx-padding: 20px;
    -fx-alignment: CENTER_LEFT;
}

.banner .label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;    
}

.content {
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: TOP_CENTER;
    -fx-max-width: 500px;
    -fx-pref-height: 600px;

}

.login {
    -fx-pref-width: 400px;
    -fx-background-color: white;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-background-radius: 10;
}

.studentView {
    -fx-pref-width: 400px;
    -fx-background-color: white;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-background-radius: 10;
}

.login .error {
    -fx-text-fill: red;
    -fx-font-weight: bold;  
}

.actionButton {
    -fx-pref-width: 500px;
    -fx-pref-height: 30px;
    -fx-font-size: 14px;
}

.textfield {
    -fx-min-height: 35px;
}

.combobox {
    -fx-min-height: 30px;
    -fx-pref-width: 500px;
}

.alignCenter {
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 20px;
}

.quizzContainer {
    -fx-spacing: 10px;
}

.horizontalSpacing {
    -fx-spacing: 10px;
}

.logout {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-text-fill: white;
}

.scrollpane {
    -fx-background-color: transparent;
    -fx-background: #FFFFFF;
    -fx-min-width: 470px;
}

.addQuizz {
    -fx-pref-width: 450px;
    -fx-background-color: white;
    -fx-padding: 20px;
    -fx-spacing: 20px;
    -fx-background-radius: 10;
}

.error {
    -fx-text-fill: red;
    -fx-font-weight: bold;  
}

.timer {
    -fx-font-size: 20px;
}